script(src="./libs/jquery.min.js")
script(src="./libs/jquery.cookie.js")
script(src="./libs/vue.js")
script(src="./libs/vue-router.min.js")
script(src="./libs/vue-async-data.js")
script(src="./libs/semantic.min.js")
script(src="./libs/bootstrap-datepicker.min.js")
script(src="./libs/bootstrap-datepicker.zh-CN.min.js")
script(src="./js/app-bundle#{prefix}.js")
