$green: #21BA45
$blue: #2185D0
$orange: #F2711C
$teal: #00B5AD
@mixin clearfix
	&:after
		content: ''
		display: table
		clear: both
body
	height: auto
.main-container
	margin-top: 80px
.user-control
	margin: 20px 0
.user-list
	.item
		min-height: 43px
		.del-user-btn
			display: none
		&:hover
			.del-user-btn
				display: inline-block
		.checkbox
			vertical-align: middle
.code
	margin: 15px auto
	overflow-x: auto
	padding: 0
	background-color: #f8f8f8
	padding: 0.8em 0.8em 0.4em
	line-height: 1.1em
	border-radius: 2px
	pre
		padding: 1.2em 1.4em
		line-height: 1.5em
		margin: 0
		font-size: 12px
		font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
.intro-head
	p
		font-size: 16px
.weather-card
	@include clearfix
	padding: 16px
	width: 100%
	max-width: 600px
	margin: 0 auto
	box-shadow: 1px 1px 3px #9E9E9E
.weather-body
	width: 100%
	text-align: center
.weather-temperature
	font-size: 24px
	margin-bottom: 10px
.weather-pm
	font-size: 18px
.weather-temperature-range
	color: #616161
.weather-city
	font-size: 18px
.weather-footer
	display: table
	margin-top: 12px
	width: 100%
	font-size: 16px
	.column
		display: table-cell
		text-align: center
		vertical-align: middle
