$green: #21BA45
$blue: #2185D0
$orange: #F2711C
$teal: #00B5AD
header
	padding: 30px 0
.ui.button,.ui.header,.sms-count
	font-weight: normal
.bz-logout,.bz-notice-btn
	float: right
.ui.button.bz-notice-btn
	margin-right: 10px
.ui.message.bz-message
	position: fixed
	top: 10px
	right: 10px
	z-index: 10
	p
		margin-top: 0
.section
	margin-top: 50px
	.header
		margin-bottom: 30px
.date-tags
	color: $orange
.user-list
	.ui.input
		max-width: 120px
.italic
	font-style: italic
	font-weight: bold
.searchSelect
	background-color: $teal
.ui.update-message
	.italic,.ui.label
		margin: 0 5px
	.item
		.header
			margin-top: 15px
			margin-bottom: 10px
.table-control
	margin-bottom: 20px
	&>*
		margin-bottom: 0
		margin-right: 10px!important
.ui.popup
	z-index: 1!important
